body {background-color: #e7e6e6;
height: 100%;
font-size: 13px;
color: #333;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
font-weight: 400;
}

html, body, div, span {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}


#wrapper{
position: relative;
margin: 0 auto;
width: 80%;
background: #ffffff;
min-height:500px;
}

#content {padding:20px;}
#content h1{font-size:30px;}


.basictab ul{
margin: 4px;
padding: 3px 0;
margin-left: 0;
font: bold 12px Verdana;
border-bottom: 1px solid gray;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a,
.basictab li a:active,
.basictab li a:visited
{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid gray;
border-bottom: none;
background-color: #000;
color: #fff;
}

.basictab li a:hover {
background-color: #fff;
color: #000;
}


.basictab li a.current {
background-color: #DBFF6C;
color: #000;
}